<launch>
  
  <!-- IP addresses for 5.8 GHz radios -->
  <arg name="master5" value = "http://192.168.1.199:11311"/>
  <arg name="ip5"     value = "192.168.1.200"/>

  <!-- IP addresses for 900 MHz radios -->
  <arg name="master9" value="http://10.0.5.2:11311"/>
  <arg name="ip9"     value="10.0.5.1"/>
  
  <env name="ROS_MASTER_URI" value="$(arg master5)"/>
  <env name="ROS_IP"         value="$(arg ip5)"    />  

  <node name="overlord" pkg="mainframe" type="overlord" output="screen" />

  <node name="controls" pkg="mainframe" type="controls" output="screen" />

  <!-- Test lat/long is set to the statue side of the oval. -->
  <include file="$(find mainframe)/launch/stateman.launch">
  	<arg name="test_lat"  value="-37.9106944"/>
  	<arg name="test_long" value="145.1355000"/> 
  </include>  
  
  <node name="glen" pkg="autopilot" type="glen.py" output="screen"/>

</launch>
